*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{

    width:100%;
    height:100%;
    overflow:hidden;

    background:#000;

    font-family:Arial,sans-serif;

}

canvas{

    display:block;

}

#loading{

    position:absolute;

    inset:0;

    display:flex;

    justify-content:center;
    align-items:center;

    color:white;

    background:black;

    font-size:24px;

    z-index:5;

}
#speedometer{

position:fixed;
right:30px;
bottom:25px;

width:130px;
height:130px;

border-radius:50%;

background:
rgba(0,0,0,0.6);

border:4px solid #00ffff;

display:flex;
flex-direction:column;
align-items:center;
justify-content:center;

color:white;

font-family:Arial;

box-shadow:
0 0 20px #00ffff;

}


#speedValue{

font-size:45px;
font-weight:bold;

}


#speedometer small{

font-size:14px;
}
#gameOver{

position:fixed;
inset:0;

display:none;

background:rgba(0,0,0,0.8);

color:white;

flex-direction:column;
align-items:center;
justify-content:center;

font-size:40px;

z-index:10;

}


#gameOver button{

padding:15px 35px;

font-size:20px;

cursor:pointer;

border-radius:10px;

}
#gameOver button{

    margin:10px;

    padding:15px 35px;

    font-size:20px;

    border:none;

    border-radius:12px;

    cursor:pointer;

}
#distanceMeter{
    position: fixed;
    top: 20px;
    right: 20px;

    color: white;
    font-size: 22px;
    font-weight: bold;

    background: rgba(0,0,0,.45);
    padding: 10px 16px;
    border-radius: 12px;
}
#radio{

position:absolute;

top: 110px;

right:20px;

width:220px;

padding:15px;

border-radius:15px;

background:rgba(0,0,0,.55);

backdrop-filter:blur(10px);

color:white;

font-family:Arial;

text-align:center;

border:1px solid #44ccff;

}

#radioTitle{

font-size:18px;

font-weight:bold;

margin-bottom:10px;

color:#4fdcff;

}

#stationName{

font-size:15px;

margin-bottom:12px;

}

.radioButtons{

display:flex;

justify-content:center;

gap:10px;

margin-bottom:10px;

}

.radioButtons button{

width:45px;

height:35px;

cursor:pointer;

font-size:16px;

border:none;

border-radius:8px;

background:#1f9eff;

color:white;

}

.radioButtons button:hover{

transform:scale(1.08);

}

#radioVolume{

width:100%;

}
#mobileControls{

    display:none;

}

@media (pointer:coarse){

#mobileControls{

    display:block;

}

#leftBtn,
#rightBtn,
#gasBtn,
#brakeBtn{

    position:fixed;

    width:72px;

    height:72px;

    border:none;

    border-radius:18px;

    background:rgba(0,0,0,.55);

    backdrop-filter:blur(10px);

    color:white;

    font-size:32px;

    border:2px solid #44d8ff;

    z-index:9999;

    user-select:none;

    touch-action:none;

}

#leftBtn{

    left:20px;
    bottom:20px;

}

#rightBtn{

    left:105px;
    bottom:20px;

}

#brakeBtn{

    right:20px;
    bottom:20px;

}

#gasBtn{

    right:20px;
    bottom:105px;

}

#leftBtn:active,
#rightBtn:active,
#gasBtn:active,
#brakeBtn:active{

    transform:scale(.94);

    background:#32bfff;

}

}