*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#081018;
font-family:Arial,sans-serif;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

color:white;
}

#gameContainer{

display:flex;
flex-direction:column;
gap:15px;

}

#hud{

display:flex;
justify-content:space-between;
padding:15px;

background:#13253d;

border-radius:12px;

box-shadow:0 0 20px #00bfff55;

}

.hud-item{

font-size:20px;
font-weight:bold;

}

canvas{

background:#1d1d1d;

border:4px solid #00bfff;

border-radius:12px;

box-shadow:0 0 25px #00bfff66;

image-rendering:pixelated;

}
.hidden{
    display:none;
}

#gameOverScreen{
    position:fixed;
    inset:0;

    background:rgba(0,0,0,.75);

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:9999;
}

#gameOverScreen.hidden{
    display:none;
}

.game-over-box{
    width:420px;
    max-width:90%;

    background:#13253d;

    border:3px solid #00bfff;
    border-radius:16px;

    padding:30px;

    text-align:center;

    box-shadow:0 0 35px #00bfff66;
}

.game-over-box h1{
    font-size:34px;
    margin-bottom:20px;
}

.game-over-box p{
    font-size:22px;
    margin:12px 0;
}

.game-over-box button{
    width:100%;
    margin-top:15px;
    padding:14px;

    font-size:18px;
    font-weight:bold;

    border:none;
    border-radius:10px;

    cursor:pointer;

    background:#00bfff;
    color:white;

    transition:.2s;
}

.game-over-box button:hover{
    transform:scale(1.05);
    background:#29c8ff;
}