*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#081018;
font-family:Arial,sans-serif;

display:flex;
justify-content:center;
align-items:center;

height:100vh;

color:white;
}

#gameContainer{

display:flex;
flex-direction:column;
gap:15px;

}

#hud{

display:flex;
justify-content:space-between;
padding:15px;

background:#13253d;

border-radius:12px;

box-shadow:0 0 20px #00bfff55;

}

.hud-item{

font-size:20px;
font-weight:bold;

}

canvas{

background:#1d1d1d;

border:4px solid #00bfff;

border-radius:12px;

box-shadow:0 0 25px #00bfff66;

image-rendering:pixelated;

}